# Ignore GitHub Actions workflows
.github/workflows

# Ignore Visual Studio Code settings
.vscode

# Ignore image and infographic files
Images_Infographics/

# Ignore Python cache files
__pycache__
backend/__pycache__

# Ignore Node.js dependencies
node_modules/
xai_frontend/node_modules

# Ignore GitLab CI/CD configuration
.gitlab-ci.yml

# Ignore test HTML file
react_test.html

# Ignore Python virtual environment
venv/

# Ignore test results
test_results/

# Ignore any other files or folders you want to exclude
