.infographic {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

.schedule-container {
  position: relative;
  padding: 15vh;
  padding-top: 1vh;
  background-color: #aec5cd;
}

.buttons-container {
  position: absolute;
  bottom: 6%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.schedule-container {
  position: relative;
}

.buttons-container {
  position: absolute;
  width: 100%;
  bottom: 6%;
  left: 50%;
  display: flex;
  justify-content: space-evenly;
}

.btn.info {
  background-color: #007bff;
  color: white;
  font-family: "Arial", sans-serif;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.what-if-button {
  position: absolute;
  bottom: 20%;
  left: 22%;
}

.game-button {
  position: absolute;
  bottom: 20%;
  left: 44%;
}

.classroom-button {
  position: absolute;
  bottom: 20%;
  left: 67%;
}
