.theory-classroom-container {
  transition: background-color 0.5s;
  padding: auto;
  margin: auto;
  justify-content: center;
  margin-top: 0;
}

.faq-section {
  background-color: rgb(84, 101, 99);
  margin-top: 0;
  padding-top: 10px;
}

.quiz-section {
  background-color: darkkhaki;
  padding: 10vh;
}

.theory-classroom-container:target .faq-section ~ .quiz-section {
  background-color: blueviolet;
}

.theory-classroom-container:target .quiz-section ~ .faq-section {
  background-color: orangered;
}
