.WeekView {
  padding: 20px;
  background-color: #000000;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #000;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #000;
  padding: 10px;
  text-align: center;
  background-color: #b3d9ff;
  color: #000;
}

.cell {
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  padding: 8px;
  text-align: center;
  margin-top: 5px;
  background-color: #ccf2ff;
}

.subcell {
  margin: 4px 0;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
}

.table-statistics thead tr:first-of-type th {
  background-color: #3399ff;
  color: #fff;
}

.fc-event-title {
  background: #b0d3f8;
}
